    name: Generate Snake

    on:
      schedule:
        - cron: "0 0 * * *" # Runs daily at midnight UTC
      workflow_dispatch: # Allows manual triggering

    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3 # Checkout your repository
          - uses: Platane/snk@v3
            id: snake-gif
            with:
              github_user_name: ${{ github.repository_owner }}
              outputs: |
                dist/github-snake.svg
                dist/github-snake-dark.svg?palette=github-dark
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          - uses: crazy-max/ghaction-github-pages@v3
            with:
              target_branch: dist
              build_dir: dist
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
